{% extends 'AppPoliconsultorio/base.html' %}
{% load static %}

{% block titulo %} Consulta de Turnos {% endblock %}
 <!-- Estilos CSS personalizados-->
{% block extra_css %}
 <link rel="stylesheet" href="{% static '/css/turno.css' %}">
{% endblock %}

{% block contenido %}
<div class="container">
	<div class="form-container justifica-arriba">
		<div class="form-row justify-content-center">
			<h2><u>Consulta de Turnos</u></h2>
		</div>
		<!--<form>-->
		<form action="{% url 'turno_consulta' %}" method="get">
			<!-- {% csrf_token %} -->
			<div class="form-row">
				<!-- <div class="col-lg-11 mt-5 mt-lg-0 d-flex align-items-stretch"> -->
					<!-- <div class="form-group col-md-6"> -->
						<!-- <label for="paciente">Paciente:</label> -->
						<!--<input type="text" class="form-control" id="paciente">-->
						<!-- {{ turno_consulta_form.paciente}} -->
						<!-- {{ turno_consulta_form.as_p}} -->
				<div>
						<label class='rotulo_filtro' for="paciente">DNI Paciente:</label>
						{{ turno_consulta_form.paciente }}
						<label class='rotulo_filtro' for="especialidad">Especialidad:</label>
						{{ turno_consulta_form.especialidad }}
						<label class='rotulo_filtro' for="medico">Médico:</label>
						{{ turno_consulta_form.medico }}
				</div>
				<div>
						<label class='rotulo_filtro' for="fecha_desde"> Fecha Desde:</label>
						{{ turno_consulta_form.fecha_desde }}
						<label class='rotulo_filtro' for="fechas_hasta"> Fecha Hasta:</label>
						{{ turno_consulta_form.fecha_hasta }}
					<!-- </div> -->
				</div>
			</div>
			<div class="form-row justify-content-center">
				<button type="submit" class="btn btn-primary">Filtrar</button>
			</div>
		</form>
	</div>
</div>


{% endblock %}
